<h2>Add Recepie: </h2>

<form>
<!-- 
    <select name="recepie" [(ngModel)]="recep.recepID">
        <option selected disabled>Select One Recepie</option>
        <option *ngFor="let r of receps" value={{r.name}}>
            {{r.name}}
        </option>
    </select>
    <br><br>

    <input type="text" placeholder="Reviewer..." name="reviewer" [(ngModel)]="review.reviewer">
    <br><br>

    <input type="text" placeholder="Text..." name="reviewer" [(ngModel)]="review.text">
    <br><br> -->

    <button (click)="sendReview()">Send Review</button>

</form>